<!DOCTYPE html>
<html data-build="<%= htmlWebpackPlugin.options.buildTag %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="title" content="Default title" />
    <meta name="description" content="Default description" />
    <meta name="keywords" content="default, keywords" />

    <link rel="stylesheet" href="style.css">
    <script src="inline.js"></script>
  </head>

  <body>
    <!-- <div id="loading">
        <svg class="loadingLogo" width="512" height="512" viewBox="0 0 512 512" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M411.773 512H512L449.859 256.601L449.566 255.399L387.425 0H278.494L139.574 255.399L139.247 256L138.92 256.601L0 512H109.841L274.022 210.148H338.33L411.773 512Z"
                fill="black" />
        </svg>
    </div> -->
    <asggenapp id="asggen"></asggenapp>
  </body>
</html>
