.loadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: #4287f5;
    z-index: 9998;
    overflow: hidden;
}

.loadingLine {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #84f9f1, transparent);
    position: absolute;
    animation: loadingAnimation 0.5s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
